<template>
    <q-dialog v-model="show" presistent>
        <q-card class="bg-secondary text-white" style="width: 700px; max-width: 80vw;">
            <q-bar>
                <q-toolbar-title>
                    <q-icon name="settings_applications" style="font-size: 1.5rem;" />&nbsp; Product
                </q-toolbar-title>
                <q-space/>

                <q-btn dense flat icon="close" @click="close">
                    <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
                </q-btn>
            </q-bar>

            <q-form @submit="onSubmit">
                <div class="q-pa-md q-gutter-md">
                    <q-input
                    dark
                    dense
                    standout
                    label="Firstname"
                    v-model="data.firstname"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'This fiels is required']"
                    />
                    <q-input
                    dark
                    dense
                    standout
                    label="Lastname"
                    v-model="data.lastname"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'This fiels is required']"
                    />
                    <q-input
                            dark
                            v-model="data.age"
                            filled
                            type="telp"
                            hint="Age"
                            dense
                            label="Age"
                            lazy-rules
                            :rules="[
                            val => val !== '' && val !== null || 'This fields is required',
                            val => val > 0 && val < 100 || 'Please type a real age'
                            ]"
                            />
                    <q-select
                    dark
                    dense
                    standout
                    options-dense
                    :options-dark="false"
                    label="Jobs"
                    v-model="data.job"
                    :options="['CEO', 'CTO', 'Software Engineer', 'UIUX']"
                    />
                </div>

                <q-card-actions align="right" class="bg-secondary">
                    <q-btn label="Save" type="submit" color="primary" padding="4px 25px"></q-btn>
                    <q-btn label="Cancel" color="red" @click="close" padding="4px 25px"></q-btn>
                </q-card-actions>
            </q-form>
        </q-card>
    </q-dialog>
</template>

<script>
import axios from 'axios'

export default {
  props: ['item'],
  data () {
    return {
      show: this.item === 0 ? true : this.item,
      api: '/employee',
      data: {}
    }
  },
  watch: {
    item (n, o) {
      this.data = {}
      if (this.item !== null && this.item !== 0) this.loadData(this.item)
      this.show = this.item !== null
    }
  },
  methods: {
    close () {
      this.show = false
      this.$emit('formRetrun', false)
    },
    async loadData (id) {
      const res = await axios.get('http://localhost:3000/employee/' + id)
      this.data = res.data
    },
    async onSubmit () {
      const res = await axios.post('http://localhost:3000/employee' + (this.data.id ? '/' + this.data.id : '/'), this.data)
      if (res) {
        this.$emit('formReturn', false)
        this.$emit('getData', '')
      }
    }
  }
}
</script>
