<template>
    <q-input
        outlined
        v-bind:value="content"
        type="textarea"
        label="Content Blog"
        :rules="[val => !!val || 'Field is required']"
        @input="$emit('update:content', $event)"
        class="q-mb-sm"
    >
        <template v-slot:append>
          <q-icon v-if="content" name="close" @click="$emit('update:content', '')" class="cursor-pointer" />
        </template>
    </q-input>
</template>

<script>
export default {
  props: ['content']
}
</script>

<style scoped>
</style>
