<template>
    <div >
        <q-item-label class="q-mb-xs">Publication Time</q-item-label>
        <q-input filled v-bind:value="pubtime" mask="time" :rules="['pubtime']">
        <template v-slot:append>
          <q-icon name="access_time" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-time :value="pubtime" @input="$emit('update:pubtime', $event)">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-time>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
</template>

<script>
export default {
  props: ['pubtime']
}
</script>

<style scoped>
</style>
