<template>
    <q-input
            type="password"
            rounded
            outlined
            class="q-mb-xs"
            label="Password...."
            :rules="[val => !!val || 'Field is required']"
            v-bind:value="password"
            @input="$emit('update:password', $event)"
            ref="pass"
            />
</template>

<script>
export default {
  props: ['password']
}
</script>

<style scoped>

</style>
