<template>
    <login-comp :userData="userData"></login-comp>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('blogs', ['userData'])
  },
  components: {
    'login-comp': require('../components/Auth/Login').default
  }
}
</script>
