<template>
  <q-page class="q-pa-md">
      <banner-header bgColor="bg-lime-5">Add New Blog</banner-header>
      <add-form></add-form>
  </q-page>
</template>

<script>
export default {
  components: {
    'banner-header': require('../components/Shared/BannerPage').default,
    'add-form': require('../components/AddBook/AddForm').default
  }
}
</script>

<style scoped>

</style>
