<template>
<div>
  <update-blog></update-blog>
</div>
</template>

<script>

export default {
  components: {
    'update-blog': require('../components/UpdateBook/UpdateBook').default
  }
}
</script>

<style scoped>
</style>
