<template>
    <regis-comp :userData="userData"></regis-comp>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('blogs', ['userData'])
  },
  components: {
    'regis-comp': require('../components/Auth/Register').default
  }
}
</script>

<style scoped>
</style>
