<template>
    <q-list bordered class="q-mb-xs">
      <q-item clickable v-ripple @click="movePage">
        <q-item-section avatar class="column items-center">
          <q-avatar size="80px">
            <img :src="blog.avatars">
          </q-avatar>
          <q-item-label caption class="q-mt-xs" lines="2">{{ blog.authors }}</q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-h5">{{ blog.title }}</q-item-label>
            <div class="row items-end q-mb-sm">
              <q-icon name="category" class="q-mr-xs"></q-icon>
              <div class="row items-end" v-for="cats in blog.Categories" :key="cats">
                <q-item-label caption class="q-mr-xs">{{ cats }}</q-item-label>
              </div>
            </div>
          <q-item-label caption lines="3" class="text-subtitle1">{{ blog.content }}</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <div class="row">
            <div class="column">
              <q-icon name="insert_invitation" size="25px" class="q-mr-xs"></q-icon>
            </div>
            <div>
              <q-item-label caption class="row justify-end">{{ blog.publishDate }}</q-item-label>
              <q-item-label caption class="row justify-end">{{ blog.publishTime }}</q-item-label>
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
</template>

<script>
export default {
  props: ['blog'],
  methods: {
    movePage () {
      this.$router.push({ name: 'detail', params: { id: this.blog.id } })
    }
  }
}
</script>

<style scoped>

</style>
